<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Blanco Apex Editor"
            extensions="cls"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="blanco.apexeditor.editors.ApexEditor"
            id="blanco.apexeditor.editors.ApexEditor">
      </editor>
   </extension>

</plugin>
